<!DOCTYPE html>
<html>

<head>

    <title>QR-CODE CREATOR</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap" rel="stylesheet">

</head>

<body>

    <div class="background">

        <div class="nav">

            <a href=" {{ url_for('creator') }} ">QR Code</a>
            <a href=" {{ url_for('wifiqr') }} ">Wifi QR Code</a>

        </div>

        <div class="card">

            {% if title %}
            <h1>{{ title }}</h1>
            {% else %}
            <h1>QR-CODE CREATOR</h1>
            {% endif %}

            {% block content %}{% endblock %}

        </div>

        <p class="createdBy">This site is created by <a href="mailto:olliver.persson@gmail.com">Olliver Persson</a>.</p>

    </div>

</body>

</html>
