{% extends "base.html" %}

{% block content %}

<p>Create your QR-CODE by entering any text string to the field below. Generate the qr-code by clicking "Create".</p>

<form method="post" style="margin-top: 30px">

    {{ form.hidden_tag() }}

    <p>
        {{ form.textToCreate.label }}<br>
        {{ form.textToCreate(cols=32, rows=4) }}<br>
        {% for error in form.textToCreate.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>

</form>

{% endblock %}
